@{
    ViewBag.Title = "Education";
}

<div class="header">
    <h1>Education</h1>
</div>


<div class="content">
    <heading>Honours Computer Science</heading>
    <p>Working towards a BASc in Honours Computer Science at McMaster University</p>

    <p>Actually let's be honest. I don't know if I'll ever finish that program. Sure it'd be nice to have a piece of paper that proves I know what I'm talking about, but I'd rather spend my time actually learning.</p>

    <p>If you're looking to hire me and the fact that I don't have a degree is off-putting then I'd encourage you to reach out anyways and see if I still know what I'm talking about.</p>
</div>