<div class="jumbotron">
	<h1>Nathan Jervis</h1>
	<img src="http://www.gravatar.com/avatar/378a3ad4bed0e6a5d9fd71be8d2cad8c?s=256" alt="Profile picture of Nathan Jervis" />
	<p class="lead">Software Developer. <br />Experienced, Educated Programmer.<br />Clean, Reliable Code.</p>
	<p><a class="btn btn-lg btn-success" href="mailto:hireme@nathanjervis.com">Request my skills</a></p>
</div>
<div class="row marketing">
	<div class="col-lg-6">
		<h4>Who am I?</h4>
		<p>I'm Nathan Jervis</p>

		<h4>What can I do?</h4>
		<p>Give me a keyboard and a computer and there's not much I can't do.</p>

		<h4>What skills do you have?</h4>
		<p>You know like... website skills, database skills, app development skills... you only want someone who has great skills</p>
	</div>

	<div class="col-lg-6">
		<h4>{{#link-to 'projects'}}Projects{{/link-to}}</h4>
		<p>Find out what I've done in my spare time</p>

		<h4>{{#link-to 'experience'}}Experience{{/link-to}}</h4>
		<p>Check out my professional work experience</p>

		<h4>{{#link-to 'education'}}Education{{/link-to}}</h4>
		<p>Schools, degrees, certifications</p>
	</div>
</div>