<div class="container-fluid">
  <div class="row-fluid">
	<div class="span3">
	  <table class='table posts'>
		<thead>
		  <tr><th>Recent Posts</th></tr>
		</thead>
		{{#each model}}
		<tr><td>
			{{#link-to 'post' this}}{{title}} <span class='details'><span class="text-muted">by {{author.name}}</span> <em>{{excerpt}}</em></span>{{/link-to}}
		</td></tr>
		{{/each}}
	  </table>
	</div>
	<div class="span9">
	  {{outlet}}
	</div>
  </div>
</div>