
    <div class='about'>
        <h1>Various projects I've been working on</h1>
        <h2>Personal site</h2>
        <p>This website is actually on github, and you can take a look at it there</p>
		<a href="https://github.com/mirhagk/personalsite">https://github.com/mirhagk/personalsite</a>
    </div>