<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Nathan Jervis</title>
  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="All about Nathan Jervis, projects he's worked on, and experience" />
  <meta name="google-site-verification" content="fXpAGWP1fcgRmnfB1xI3L6pcojI1evjOmiuvwPpEFq0" />
</head>
<body>

  <script type="text/x-handlebars">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="#">Home</a></li>
            <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
            <li>{{#link-to 'experience'}}Experience{{/link-to}}</li>
            <li>{{#link-to 'education'}}Education{{/link-to}}</li>
            <li>{{#link-to 'posts'}}Blog{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
          <li><a href="mailto:contact@nathanjervis.com">Contact</a></li>
        </ul>
        <h3 class="text-muted"><a href="#">Nathan Jervis</a></h3>
        </div>
        <section id="main">
        {{outlet}}
    </section>
      <div class="footer">
      <hr />
        <p>&copy; Nathan Jervis 2013</p>
		<span class="pull-right">Profiles:</span>
		<br />
		<span class="pull-right"> <a href="https://github.com/mirhagk">Github</a></span>
		<br />
        <span class="pull-right"> <a href="https://plus.google.com/108509929177619395210?rel=author">Google Plus</a></span>
		<br />
        <span class="pull-right"> <a href="https://twitter.com/mirhagk">Twitter</a></span>
		<br />
		<span class="pull-right"> <a href="http://www.linkedin.com/pub/nathan-jervis/40/962/21a">LinkedIn</a></span>
		<span class="pull-right"> <a href="http://stackoverflow.com/users/988817/mirhagk">Stack Overflow</a></span>
		<br />
		<span class="pull-right"> <a href="https://www.codeplex.com/site/users/view/mirhagk">Codeplex</a></span>
      </div>
    </div>
  </script>
  