@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout.cshtml";
}

<div class="header">
    <h1>About</h1>
    <h2>Nathan Jervis</h2>
</div>


<div class="content">
    @Helper.Heading("About me")
    <p>Nathan Jervis is a computer science student at McMaster University</p>
</div>