@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<div class="header">
    <h1>Home</h1>
    <h2>Nathan Jervis</h2>
    <img src="http://www.gravatar.com/avatar/378a3ad4bed0e6a5d9fd71be8d2cad8c?s=256" alt="Profile picture of Nathan Jervis" />
    <p>
        Software Developer. <br />
        Experienced, Educated Programmer. <br />
        Clean, Reliable Code. <br />
    </p>
    <a href="mailto://nathan@nathanjervis.com?subject=Request%20Of%20Skills" class="pure-button">Request my skills</a>
</div>


<div class="content">
    @Helper.Heading("Who am I?")
    <p>I'm Nathan Jervis</p>

    @Helper.Heading("What can I do?")
    <p>Give me a keyboard and a computer and there's not much I can't do.</p>

    @Helper.Heading("What skills do you have?")
    <p>You know like... website skills, database skills, app development skills... you only want someone who has great skills</p>

    @*<h3>Projects</h3>
        <p>Find out what I've done in my spare time</p>

        <h3>Experience</h3>
        <p>Check out my professional work experience</p>

        <h3>Education</h3>
        <p>Schools, degrees, certifications</p>*@

</div>