@{
    ViewBag.Title = "Projects";
}

<div class="header">
    <h1>Projects</h1>
</div>


<div class="content">
    @Helper.Heading("Personal Site")
    <p>This site is my personal site on <a href="https://github.com/mirhagk/personalsite">github</a>. Feel free to go there and fork this site for yourself.</p>
    <p>The philosphy of this site is to have a lightweight site, with minimal code and default styles that look good without any work.</p>
</div>