.jumbotron
{
	text-align:center;
}
.header
{
	margin-bottom: 50px;
}
.intro
{
	font-style: italic;
}
.posts .details
{
	font-size: 11px;
}
.footer
{
    margin-top: 15px;
}
.footer hr
{
    margin-bottom: 0px;
}